<p id="notice"><%= notice %></p>

<h2><%= @post.title %></h2>
<p><%=@post.author%> on <i><%=friendly_date @post.created_at%>:</i></p>
<p><%= @post.body %></p>

<h4>New comment</h4>
<%= form_for [@post, @post.comments.build] do |f|%>
  <div class='field'>
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class='field'>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class='field'>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit%>
  </div>
<% end %>

<h3>Comments: <%= @post.comments.size%></h3>
<%= render @post.comments%>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
