<div>
  <%= form_tag(cards_path, method: 'get') do %>
    <%= text_field_tag :search, params[:search], placeholder: 'Procurar card:', class: 'field' %>
    <%= submit_tag 'Procurar',class:'submit'%>
  <% end %>
</div>
<h2>Todos os cards:</h2>
<% @cards.each do |card| %>
  <p>
    <%= link_to card do %>
      <%= card.friendly_description %>
    <% end %>
  </p>
<%end%>
<p>
  <%= link_to root_path do %>
    <button>Voltar</button>
  <% end %>
</p>
