<header>
  <h2>Card <%= @card.id %></h2>
</header>

<section>
  <p><%= @card.friendly_description %></p>
  <p>Enviado por <%= @card.author %></p>
</section>

<p><%= link_to edit_card_path(@card) do %>
  <button type="button" name="edit">Editar</button>
<% end %>
</p>
<p>
<%= link_to @card, method: :delete do %>
  <button type="button" name="destroy" class='danger'>Deletar</button>
<% end %>
</p>

<p><%=link_to('Voltar', root_path)%></p>

<h2>Comentários:</h2>
<% @card.comments.each do |comment| %>
<div>
  <p><%= comment.author %> comentou: <%= comment.body %></p>
</div>
<% end %>

<h3>Novo comentário</h3>
<%= form_for [@card, @comment] do |f|%>
  <div>
    <%= f.label :author, 'Autor', class:'label'%>
    <%= f.text_field :author %>
  </div>
  <br>
  <div>
    <%= f.label :body, 'Comentário', class:'label' %>
    <%= f.text_area :body %>
  </div>
  <br>
  <div>
    <%= f.submit 'Comentar', class: 'submit' %>
  </div>
<% end %>
