<section>
  <div class="about">
    <p>Essa aplicação lista todos os cards cadastrados e suas devidas traduções</p>
  </div>
</section>

<aside>
  <div class="tools">
    <h3>Outras ferramentas de tradução melhores do que essa:</h3>
    <ul>
      <li><%= link_to "Google Translate", "https://translate.google.com/", target: "_blank"%></li>
      <li><%= link_to "Bing Translator", "https://www.bing.com/translator", target: "_blank"%></li>
    </ul>
  </div>
</aside>

<section>
  <div class="cards">
    <h2>Cards cadastrados: <%=@cards.count%></h2>
    <% @cards.each do |card|%>
      <p>
        <%=link_to(card.front, card)%>
      </p>
    <%end%>

    <%=link_to 'Criar card', '/cards/new'%>
  </div>
</section>
