<!DOCTYPE html>
<html>
  <head>
    <title>Cards</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="wrapper">      
      <header>
        <%=link_to root_path do%>
        <h1>Cards de  tradução</h1>
        <%= image_tag('translate.png', width: '200px')%>
        <% end %>
      </header>

      <%= yield %>
    </div>

    <footer>
      Desenvolvido no Campus Code em 2016
    </footer>
  </body>
</html>
